################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/RicBookStore/RicBookStore/bin/Debug/netcoreapp3.1
/RicBookStore/RicBookStore/obj
/RicBookStore/.vs/RicBookStore/config
