body {
}

.logo{
    height:200px;
    width:200px;
}

.jumbotron {
    background:center;
    background-color: rgba(128,13,13,0.5);
 }

.footer{
    height:50px;
}
.hijo {
    /* IMPORTANTE */
    line-height: 50px;
}

