
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SearchBook</title>
</head>
<body>
    <h1>Aqui devolvemos los libros que contengan los valores que se han pasdo como parámetros en el título del libro y en el nombre del autor</h1>

    <p>Como antes, no tengo ni idea de como se hace esto</p>
</body>
</html>
